body{ 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    background-color: rgb(247, 247, 247);
    background-image: url(images/concrete_seamless.png);
   
}
.logo{
    text-align: center;
    padding: 10px;
    background-color:#4aaaa5;
}
.logo>h1{
    color:white;
}
h1{
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Georgia', Times, Times New Roman, serif;
   color: #4aaaa5;
}

.white{
    background-color: #fff;
}
a{  
    font-style: 1.4em;
    color:#777777;
    margin-top: 5px;
}


.bborder{
    border-bottom: 2px solid #4aaaa5;
}
.bordertop{
    border-top: 3px solid #4aaaa5;
}
.footer{
    
    color: #fff;
    background-color: #666666;
}
.picline{
    background-color: #4aaaa5;
    color: #fff;
    margin: 0;
    font-weight: normal;
}